resources:
- ../../../base
- flux-kustomization.yaml

patches:
- patch: |-
    apiVersion: apps/v1
    kind: Deployment
    metadata:
      name: beast-core
    spec:
      template:
        spec:
          imagePullSecrets:
            - name: nexus-registry
            - name: private-registry
  target:
    kind: Deployment
- patch: |-
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: git-repo
    data:
      GIT_REPO: code.gamewarden.io/agencies/project-blue/beast-core-application/beast-core-data.git
  target:
    kind: ConfigMap
- patch: |-
    apiVersion: networking.istio.io/v1beta1
    kind: VirtualService
    metadata:
      name: beast-core-vs
    spec:
      hosts:
      - beast-core.dev.il2.project-blue.gamewarden.io
  target:
    kind: VirtualService
- patch: |-
    apiVersion: v1
    kind: ConfigMap
    metadata:
      name: cluster-prefix
    data:
      CLUSTER_PREFIX: il2-dev
  target:
    kind: ConfigMap

  # newName: registry1.dso.mil/ironbank/bitnami/git
images:
- name: beast-core
  newName: registry-approved.gamewarden.io/beast-core-app
  newTag: f964323d
- name: data-loader
  newName: registry.gamewarden.io/staging/beast-core-app/beast-code-init/ironbank-bitnami-git-lfs
  newTag: 2.31.1
apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization
